In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r'C:\Users\ilesanmi\Desktop\ipny\Hamoye\Machine Learning\Practise\energydata_complete - QUIZ.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

QUESTION 12 DOWNWARDS

In [7]:
#linear model

temp_in = df['T2']
temp_out = df['T6']

#temp_in#.reshape((-1, 1))

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


x_train, x_test, y_train, y_test = train_test_split(temp_in, #x-sss 
                                                    temp_out, # y1
                                                    test_size= 0.3,
                                                    random_state = 1)


linear_model = LinearRegression()

#fitting the model to the training set
linear_model.fit(x_train, y_train)

#obtaining predictions

#predicted_values = linear_model.predict(x_test)

In [9]:
model = LinearRegression()

y = temp_out
x = temp_in.values
x2 = x.reshape(-1,1)
# # convert series object into array
# arr = x.values
  
# # reshaping series 
# reshaped_arr = arr.reshape(-1, 1)



model.fit(x2, y)
model = LinearRegression().fit(x2, y)
r_sq = model.score(x2, y)
print('coefficient of determination:', r_sq.round(2))

coefficient of determination: 0.64

In [10]:
#MAE


from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y, x2)

round(mae, 2)

12.44

#RSS

rss = np.sum(np.square(y - x2))
round(rss, 3)

In [11]:
from sklearn import metrics

In [12]:
d = metrics.mean_squared_error(y, x2)

In [13]:
d

175.01104820441768